<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mzx.mapper.BizProjectCostCalculateMapper">

    <select id="listMonitorProjectCost" resultType="java.lang.String">
        select distinct project_id as projectId
        from biz_project_cost_detail
        where (
                    create_time >= #{startTime}
                and #{endTime} > create_time
            )
           or (
                    update_time >= #{startTime}
                and #{endTime} > update_time
            )
    </select>
</mapper>
