<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mzx.mapper.BizProjectMapper">

    <update id="updateProjectPayment">
        update biz_project
        set project_status=20,
            update_by=#{userName},
            update_time=now()
        where id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
          and project_status=10
    </update>

    <update id="updateProjectBilling">
        update biz_project
        set project_status=25,
        update_by=#{userName},
        update_time=now()
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and project_status=20
    </update>

    <update id="updateProjectFinish">
        update biz_project
        set project_status=30,
        update_by=#{userName},
        update_time=now()
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and project_status=25
    </update>

    <update id="updateProjectNotSettlement">
        update biz_project
        set project_status=40,
        update_by=#{userName},
        update_time=now()
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and project_status in (1,10)
    </update>
</mapper>
